.main-nav {
    display: flex;
}

.head-list,
.tell-list {
    display: flex;
}

.nav-container {
    display: flex;
}

.tell-list {
    margin-left: auto;
}

.head-list {
    margin-left: 94px;

}

.link-site,
.link-contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}



.logo-text {
    color: var(--button-background-colour);
}

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--secondary-text-colour);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}


.link-site {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colour);

    font-size: 14px;
    line-height: 1.1;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-property: color;

    &:hover,
    &:focus {
        color: var(--button-background-colour);
        }

}

.nav-items {
    position: relative;

    &:not(:last-child) {
            margin-right: 50px;
        }
}

.active {
    color: var(--button-background-colour);

    &::after {
            content: " ";
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #2196F3;
            border-radius: 2px;
            bottom: -1px;
    
            transition-duration: var(--time-function);
            transition-timing-function: var(--bezier-functiion);
            transition-duration: color;
        }
}





.link-contact {

    align-items: center;

    display: flex;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    color: var(--primary-text-colour);

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: color;

    &:hover,
    &:focus {
            color: var(--button-background-colour);
        }
            &:hover .header-icon,
            &:focus .header-icon {
                fill: currentColor
                }
}



.header {
    border-bottom: 1px solid #ECECEC;
}

.header-icon {
    fill: #757575;
    display: flex;
    margin-right: 10px;
}


