.main-nav {
    display: flex;
}

.head-list,
.tell-list {
    display: flex;
}

.nav-container {
    display: flex;
}

.tell-list {
    margin-left: auto;
}

.head-list {
    margin-left: 94px;

}

.link-site,
.link-contact {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-items:not(:last-child) {
    margin-right: 50px;
}

.logo-text {
    color: var(--button-background-colour);
}

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--secondary-text-colour);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

}


.link-site {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-colour);

    font-size: 14px;
    line-height: 1.1;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-property: color;

}

.nav-items {
    position: relative;
}

.active {
    color: var(--button-background-colour);
}

.active::after {
    content: " ";
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #2196F3;
    border-radius: 2px;
    bottom: -1px;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: color;
}

.link-site:hover,
.link-site:focus {
    color: var(--button-background-colour);
}

.link-contact {

    align-items: center;

    display: flex;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    color: var(--primary-text-colour);

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: color;
}

.link-contact:hover,
.link-contact:focus {
    color: var(--button-background-colour);
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-icon {
    fill: #757575;
    display: flex;
    margin-right: 10px;
}


.link-contact:hover .header-icon,
.link-contact:focus .header-icon {
    fill: currentColor
}